#main{
    background-color: black;
    display: flex;
    height: auto ;
}
.cont{
   font-weight: bold;
   color: bisque;
   flex:1 1 200px;
}
.cont a{
    color: bisque;
    text-decoration: none; 
    font-size: 2em;
}
a:hover {
    text-decoration: underline;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .cont a{
        font-size: smaller;
    }
    .cont {
        font-weight: 100;
    }
    #main {
          background-color:blueviolet;
    }
  
}


